<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @feed.content %>
</p>

<button type="button" class="btn btn-light"><%= link_to 'Edit', edit_feed_path(@feed) %></button>
<button type="button" class="btn btn-light"><%= link_to 'Back', feeds_path %></button>
